.displayNone {
    display: none;
}

.fontSize_0_9em {
    font-size: 0.9em;
}

.marginBottom_8 {
    margin-bottom: 8px;
}

.marginLeft_24 {
    margin-left: 24px;
}

.marginTop_20 {
    margin-top: 20px;
}

.minWidth_300 {
    min-width: 300px;
}
